.env
.env.*
.venv*
.ci
.pytest_cache
.github
docs
frontend/scripts
**/*.tsbuildinfo
.git
!.git
.git/*
!.git/HEAD
!.git/packed-refs
!.git/refs
.git/refs/*
!.git/refs/heads
.git/refs/heads/*
!.git/refs/heads/main
.data
data
state
reports
output
tests
frontend/node_modules
frontend/dist
node_modules
package-lock.json
.playwright-cli
.impeccable
**/__pycache__
**/*.xls
**/*.sqlite*
